{{!-- check cat app at index.handlebars. everything populates here --}}

<h1>Eat dis burger bitch</h1>

<h2>Oh thats that hawaiian burger joint?</h2>

<div class="row">
  <div class="col-md-6" id="yetToNom">
      <h2>Burgers</h2>

      <ul>
          {{#each burgers}}
              {{#unless devoured}}
                  <li>
                      {{burger_name}}

                      {{!-- <button class="triedIt" data-id="{{id}}"> --}}
                          Yet to nom
                      </button>
                  </li>
              {{/unless}}  
          {{/each}}      
      </ul>
  </div>


  <div class="col-md-6" id="haveNomd">
      <h2>Burgers i nom'd</h2>

      <ul>
          {{#each burgers}}
              {{#if devoured}}
                  <li>
                      {{burger_name}}
                  </li>
              {{/if}}  
          {{/each}}      
      </ul>
  </div>
</div>


{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> --}}

<h3>Add your favorite burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

    {{!-- 
  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add burger</button>
</form>
